* {
  padding: 0;
  margin: 0;
  @include u-fz(16, 22);
}

main::before {
  position: fixed;
  inset: 0;
  z-index: zindex('background');
  content: '';
  background-color: $color-very-light-yellow;
  background-image: linear-gradient(315deg, $color-white 0%, rgba($color-strong-violet, 0.5) 90%);
  transition: all 0.5s ease-out;

  [data-theme='dark'] & {
    background-color: $color-very-dark-grayish-cyan;
    background-image: linear-gradient(315deg, $color-very-dark-grayish-cyan 0%, rgba($color-black, 0.2) 74%);
  }
}

a {
  @include hoverPointer;
}
