* {
  padding: auto;
  margin: auto;
}

#root:has(.t-auth-form) {
  &::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: z('background');
    content: '';
    background-color: $color-very-light-yellow;
    background-image: linear-gradient(315deg, $color-white 0%, rgba($color-strong-violet, 0.5) 90%);
  }
}
