/* COLOR */
$color-black: rgb(17 17 17);
$color-dark-blue: rgb(2 65 84);
$color-dark-grayish-blue: rgb(158 159 165);
$color-light-blue: rgb(173 216 230);
$color-light-grayish-blue: rgb(231 231 237);
$color-light-red: rgb(227 85 97);
$color-red: rgb(244 67 54);
$color-strong-violet: rgb(126 34 206);
$color-very-light-yellow: rgb(246 240 196);
$color-white: rgb(255 255 255);

/* WIDTH */
$SP-WIDTH: 768px;
$PC-WIDTH: 1024px;
