/* COLOR */
$color-black: rgb(17 17 17);
$color-red: rgb(244 67 54);
$color-strong-violet: rgb(126 34 206);
$color-very-light-yellow: rgb(246 240 196);
$color-white: rgb(255 255 255);

/* WIDTH */
$SP-WIDTH: 768px;
$PC-WIDTH: 1024px;
