@use 'sass:map';

$zIndex: (
  'background': -1,
  'normal': 1,
  'indicator': 10,
  'overlay': 99999,
);

@function zindex($keys...) {
  $value: $zIndex;

  @each $key in $keys {
    $value: map-get($value, $key);
  }

  @return $value;
}
