.c-side-bar {
  $root: &;

  &__container {
    border-radius: 0 32px 32px 0;
  }

  &__items {
    width: 41px;
    border-radius: 0 32px 32px 0;
    transition: all 0.5s ease-out;

    #{$root}--expanded & {
      width: 150px;
    }
  }

  &__item {
    @include hoverPointer;

    &--activated {
      color: $color-red;

      &:hover,
      &:focus {
        cursor: default;
        opacity: 1;
      }

      &::before {
        position: absolute;
        top: 0;
        left: -15px;
        width: 4px;
        height: 100%;
        content: '';
        background-color: $color-white;
      }
    }
  }

  &__item-link {
    display: flex;
    align-items: center;
    padding: 15px 5px;
  }

  &__icon {
    display: flex;
    align-items: center;

    .c-icon {
      width: 24px;
      height: 24px;
    }
  }

  &__item-name {
    margin-left: 12px;
    font-size: 18px;
    opacity: 0;
    transition: all 0.7s ease-out;

    #{$root}--expanded & {
      width: 100%;
      margin-left: 24px;
      opacity: 1;
    }
  }
}
